@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-outline {
        @apply py-2.5 px-5 cursor-pointer text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10;
    }

    .btn-primary {
        @apply bg-blue-600 text-white cursor-pointer disabled:bg-blue-400 disabled:cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center;
    }

    .pill-white {
        @apply py-1 px-2 ml-2 disabled:bg-gray-300 disabled:text-white disabled:cursor-not-allowed cursor-pointer shadow-md no-underline rounded-full font-semibold text-lg hover:text-white hover:bg-blue-400 focus:outline-none active:shadow-none;
    }

    .app-section {
        @apply border border-gray-200 rounded-lg shadow mb-6;
    }
}


/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

textarea:focus,
input:focus,
select:focus {
    outline: none;
}